<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>postgreSQLテスト</title>
</head>
<body>
  <p id="idm" style="display: none;"><%= card_number %></p><br>

  <script type="text/javascript">
    let idmStr = document.getElementById('idm');
    // post送信
    var form = document.createElement('form');
    var request = document.createElement('input');

    form.method = 'POST';
    form.action = 'https://kirumo.onrender.com/signup';

    request.type = 'hidden';
    request.name = 'idmStr';
    request.value = idmStr;

    form.appendChild(request);
    document.body.appendChild(form);

    form.submit();
  </script>
</body>
</html>