<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>postgreSQLテスト</title>
</head>
<body>
  <p id="idm" style="display: none;"><%= card_number %></p><br>

  <script type="text/javascript">
    // let cardNumber = 1111;
    let cardNumber = document.getElementById('idm').innerText;
    // LocalStorageにCardNumberを保存
    // localStorage.setItem('cardNumber', cardNumber);
    // localStorage.saveKey = "cardNumber";


    var form = document.createElement('form');
    var request = document.createElement('input');

    // // GET送信
    form.method = 'GET';
    form.action = './form?cardNum='+cardNumber;
    // form.action = 'https://kirumo-f.vercel.app/sign-up';

    request.type = 'hidden';
    request.name = 'cardNumber';
    request.value = cardNumber;

    form.appendChild(request);
    document.body.appendChild(form);

    form.submit();
  </script>
</body>
</html>