<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="idm" style="display: none;"><%= cardNumber %></p><br>
<script>
    let cardNumber = document.getElementById('idm').innerText;
    console.log("mmmmmmmm"+cardNumber)
</script>
    <form action="./signup" method="post">
        <input type="hidden" name="testid" value="111B">
        <label>性別<input type="text" name="gender"></label>
        <label>色<input type="text" name="color"></label>
        <label>服のサイズ<input type="text" name="c_size"></label>
        <label>靴のサイズ<input type="text" name="s_size"></label>
        <input type="hidden" name="cardNum" value=<%= cardNumber %>>
        <input type="submit" value="送信">
    </form>
    
</body>
</html>