body{
    width: 100%;
    height: 100vh;
    background-position: 0% 100%;
    background-image: url("https://github.com/Ikema19/kirumoTest/blob/main/link/img/topimg4.png?raw=true");
    background-repeat: no-repeat;
}
.centering_parent {
    margin-top: 50vh;
    text-align:  center;
    background-color:  #ddd;
}

.centering_item {
    /* background-color: #FFEB3B; */
    vertical-align:  middle;
}